<button nz-button nzType="primary" (click)="showModal()">
  <span>{{title}}</span>
</button>
<nz-modal *ngIf="checkModal !== 2" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>{{title}}</ng-template>

  <ng-template #modalContent>
    <app-modal-form *ngIf="checkModal === 0" [formGroup]="guestForm1" (handleFunc)="handleAdd()"></app-modal-form>
    <app-modal-form *ngIf="checkModal === 1" [formGroup]="guestForm2" (handleFunc)="handleEdit()"></app-modal-form>
    <app-modal-form *ngIf="checkModal === 3" [checkModal]="3" [formGroup]="guestFormx"></app-modal-form>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button *ngIf="checkModal === 0" nz-button nzType="primary" (click)="handleAdd()"
      [nzLoading]="isConfirmLoading">Add</button>
    <button *ngIf="checkModal === 1" nz-button nzType="primary" (click)="handleEdit()"
      [nzLoading]="isConfirmLoading">Edit</button>
  </ng-template>
</nz-modal>

<nz-modal *ngIf="checkModal === 2" [(nzVisible)]="isVisible" nzTitle="Do You Want To Delete"
  (nzOnCancel)="handleCancel()" (nzOnOk)="handleDelete()" [nzOkLoading]="isConfirmLoading">
  <p *nzModalContent></p>
</nz-modal>