<button nz-button nzType="primary" (click)="showModal()">
  <span>{{title}}</span>
</button>
<nz-modal *ngIf="checkModal !== 2" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>Thông tin người dùng</ng-template>

  <ng-template #modalContent>
    <form *ngIf="checkModal === 0" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleAdd()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your ID!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="id" placeholder="ID" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="Email" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="text" nz-input formControlName="password" placeholder="Password" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>

    <form *ngIf="checkModal === 1" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="handleEdit()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your ID!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="id" placeholder="ID" />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-group nzPrefixIcon="user">
            <input type="text" nz-input formControlName="email" placeholder="{{userx?.password}}" [value]="userx?.password"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input type="text" nz-input formControlName="password" placeholder="{{userx?.email}}" [value]="userx?.email"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>

    <form *ngIf="checkModal === 3" nz-form [formGroup]="validateForm" class="login-form" >
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your ID!">
          <nz-input-group nzPrefixIcon="user">
            <input  type="text" nz-input formControlName="id" placeholder="ID" [disabled]="true"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your email!">
          <nz-input-group nzPrefixIcon="user">
            <input  type="text" nz-input formControlName="email" placeholder="Email" [disabled]="true"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-group nzPrefixIcon="lock">
            <input  type="text" nz-input formControlName="password" placeholder="Password" [disabled]="true"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>

    
  <ng-template #modalFooter>
    <span>Modal Footer:</span>
    <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
    <button *ngIf="checkModal === 0" nz-button nzType="primary" (click)="handleAdd()" [nzLoading]="isConfirmLoading">Add</button>
    <button *ngIf="checkModal === 1" nz-button nzType="primary" (click)="handleEdit()" [nzLoading]="isConfirmLoading">Edit</button>
  </ng-template>
</nz-modal>

<nz-modal *ngIf="checkModal === 2" [(nzVisible)]="isVisible" nzTitle="Do You Want To Delete"
  (nzOnCancel)="handleCancel()" (nzOnOk)="handleDelete()" [nzOkLoading]="isConfirmLoading">
  <p *nzModalContent></p>
</nz-modal>